@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,600,900');

*{
    margin:0;
    padding:0;
    font-family: 'Noto Serif SC', serif;

}
/*Header*/
header{
    display: inline block;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 150px;
    max-height: 150px;
}
header img{
    float: left;
    display: block;
    width: 15%;
    margin: 0;
    padding: 1.5% 0 0 2%;
}
header h1{
    display: inline block;
    overflow: hidden;
    margin: 0;
    padding: 1.5% 0 0 0;
    width: 80%;
    max-height: 150px;
    text-align: center;
    color: white;
}
/* Navigation Bar*/
#nav_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#nav_menu ul li{
    float: left;
    width: 20%;
}
#nav_menu ul li a{
    text-align: center;
    display: block;
    padding: 15px 0;
    font-family: sans-serif;
    color: white;
    background-color: #532c6d;
	display: block;
}
#nav_menu ul li a:hover{
    background-color: #532c6d;
    filter: brightness(110%);
}
#nav_menu ul li a:link{
    text-decoration: none;
}
#nav_menu ul li a:visited{
    text-decoration: none;
}
#nav_menu ul li a.current{
  font-weight: bold;
  filter: brightness(110%);
}

.team-section{
    text-align:center;
    background: white;
    padding: 60px;
}
.team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: black;
    font-size: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: black;
    margin-bottom: 40px;
}
.ps{
    margin-bottom: 40px;
    
}
.ps a{
    display: inline-block;
    margin: 40px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.1s all;
    
}
.ps a:hover > img{
    filter: none;
}
.section {
    width: 600px;
    margin: auto;
    font-size: 20px;
    color:black;
    text-align: justify;
}