/*Header*/
header{
    display: inline block;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 150px;
    max-height: 150px;
}
header img{
    float: left;
    display: block;
    width: 15%;
    margin: 0;
    padding: 1.5% 0 0 2%;
}
header h1{
    display: inline block;
    overflow: hidden;
    margin: 0;
    padding: 1.5% 0 0 0;
    width: 80%;
    max-height: 150px;
    text-align: center;
    color: white;
}
/* Navigation Bar*/
#nav_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#nav_menu ul li{
    float: left;
    width: 20%;
}
#nav_menu ul li a{
    text-align: center;
    display: block;
    padding: 15px 0;
    font-family: sans-serif;
    color: white;
    background-color: #532c6d;
	display: block;
}
#nav_menu ul li a:hover{
    background-color: #532c6d;
    filter: brightness(110%);
}
#nav_menu ul li a:link{
    text-decoration: none;
}
#nav_menu ul li a:visited{
    text-decoration: none;
}
#nav_menu ul li a.current{
  font-weight: bold;
  filter: brightness(110%);
}


/*Image*/
div img{
    width: 100%;
	display: block;
    margin: 0;
    padding: 0;
}

/* Main Body*/
main{
    margin: 0;
    padding: 0;
	display: inline block;
    float: left;
    width: 80%;
    height: 850px;
    /*background-color: #828282;*/
}
main title{
    margin: 0;
    padding: 1.5% 0;
	display: block;
    /*background-color: #828282;*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #9370DB;
    font-size: 35px;
}
main p{
	margin: 0;
    text-align: center;
    padding: 1.5% 10% 0 10%;
    font-family: 'Crete Round', serif;
    font-size: 1.25em;
}
main img{
    display: block;
    margin: 0 auto;
    width: 50%;
}
/*Aside*/
aside{
    margin: 0;
    padding: 0;
	display: inline block;
    float: right;
    width: 20%;
    height: 850px;
    background-color: #404041;
}
aside h1{
    margin: 0;
    padding: 15px 0;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
aside p{
    margin: 0;
    color: white;
    text-align: center;
    padding: 0 2%;
    font-family: 'Noto Sans TC', sans-serif;
}
aside img{
    display: block;
    margin: 0 auto;
    padding-top: 5%;
    width: 50%;
}

/*Links*/
aside a:link{
    color: white;
    text-decoration: none;
}
aside a:visited{
    color: white;
    text-decoration: none;
}
aside a:hover{
    text-decoration: underline;
}

/*Footer*/
footer{
    margin: 0;
    padding: 0;
    display: inline block;
    height: 45px;
}
footer p{
    margin: 0;
    text-align: right;
    padding: .5% .5%  .5% 0;
    background-color: #565656;
    font-family: serif;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    color: white;
}